.note-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
}

.note-expansion-panel
{
    margin: 0 auto;
    width: 70vw;
}

.note-form
{
    display: flex;
    flex-direction: column;
}


.errorMessage
{
    color: red;
    padding-left: 194px;

}